* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.heading {
    height: 10vh;
    background-color: #4044c9;
    display: flex;
    align-items: center;
    color: white;
}

.heading .weclome-txt {
    margin: 1.8rem;
}

.content {
    display: flex;
    gap: 3vw;
    margin: 1rem;
    min-height: 80vh;
    padding: 1rem;
}

.projects {
    border: 3px solid #4044c9;
    border-radius: 10px;
    padding: 1rem;
    min-width: 30vw;
}


.notes {
    border: 3px solid #4044c9;
    border-radius: 10px;
    padding: 1rem;
    min-width: 63vw;
}

.input-style {
    font-size: 14px;
    padding: 0.5rem;
    margin: 0.4rem;
    border: none;
    border-bottom: 2px solid #4044c9;
}

#new-project-input {
    width: 60%;
}

.new-btn {
    padding: 0.5rem;
    background-color: #4044c9;
    color: white;
    margin: 0.7rem;
    border: none;
    border-radius: 10px;
}

#note-content-input {
    width: 50%;
}